{
  "extends": ["stylelint-config-recommended", "stylelint-config-standard"],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen",
        ],
      },
    ],
    "declaration-block-trailing-semicolon": null,
    "no-descending-specificity": null,
    "declaration-colon-newline-after": null,
    "selector-type-no-unknown": [ true, {
            "ignoreTypes": ["/^amp-/"],
            }
    ]
  }
}
