rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userId) {
      return isAuthenticated() && userId == request.auth.uid;
    }

    function isOnymous() {
      return isAuthenticated() && request.auth.token.firebase.sign_in_provider != 'anonymous';
    }

    function isValidFcm(fcm, token) {
      return fcm.size() == 3
      && 'token' in fcm && fcm.token is string && fcm.token == token
      && 'topics' in fcm && fcm.topics is list
      && 'createdAt' in fcm && fcm.createdAt is timestamp;
    }

    function isValidLikePost(likePost) {
      return likePost.size() == 2
      && 'postRef' in likePost && likePost.postRef is path
      && 'createdAt' in likePost && likePost.createdAt is timestamp;
    }

    match /posts/{slug} {
      allow get: if isAuthenticated();
    }

    match /users/{userId} {
      match /fcm/{token} {
        allow create: if isUserAuthenticated(userId) && isValidFcm(request.resource.data, token);
        allow list, delete: if isUserAuthenticated(userId);
      }

      match /likePosts/{slug} {
        allow create: if isUserAuthenticated(userId) && isValidLikePost(request.resource.data);
        allow delete: if isUserAuthenticated(userId);
      }
    }

    match /publicChatRooms/0 {
      match /messages/{messageId} {
        allow create: if isOnymous();
        allow read: if isAuthenticated();
      }
    }
  }
}
